@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@800&family=Work+Sans&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root{
    --title-fonts: 'Sofia Sans Condensed', sans-serif;
    --normal-fonts: 'Work Sans', sans-serif;
    --bg-color: #CD5888;
    --secondary-color: #20262E;
    --text-color: #E9E8E8;
}
body{
    color: var(--text-color);
    font-family: var(--normal-fonts);
    background-color: var(--secondary-color);
}
a{
    text-decoration: none;
}
/* -------------------------- Navbar -------------------------- */
.navbar{
    background-color: var(--bg-color);
    padding: 1rem 1.5rem;
    height: 11vh;
    overflow: hidden;
    transition: 0.5s;
    transition-property: height;
}
.navbar .nav-mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .brand-logo{
    height: 70px;
}
.navbar .bar-icon{
    font-size: 2.5rem;
    cursor: pointer;
}

.navbar .nav-expand{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.navbar .nav-link{
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 1rem 0;
}

/* -------------------------- form -------------------------- */

.container{
    /* border: 2px solid red; */
    color: var(--third-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container{
    height: 89vh;
}

.form-container{
    width: 95%;
    max-width: 450px;
    background-color: var(--text-color);
    padding: 2rem 1rem;
    border-radius: 10px;
}

form{
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 2rem 1rem;
    position: relative;
    color: var(--secondary-color);
}
form .title{
    background-color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-60%);
}
.lg-screen-user-details{
    display: none;
}

form .input-box{
    margin-bottom: 2rem;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 2.5rem;
    font-size: 1.2rem;
    background-color: transparent;
    padding-left: 20px;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
}
.input-box input:focus, .input-box input:valid{
    outline: none;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}


.input-box label{
    /* border: 2px solid red; */
    font-size: 1.2rem;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
}

.input-box .eye-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

input:focus + label, input:valid + label{
    top: 0;
    left: 10px;
    font-size: 1rem;
    background-color: var(--text-color);
}

form .gender-box{
    margin-bottom: 1rem;
    text-align: center;
}

.submit-box, .new-old-user-container{
    width: 90%;
    margin: auto;
}
form input[type = 'submit'], .btn{
    background-color: var(--secondary-color);
    border: none;
    font-size: 1.5rem;
    border-radius: 10px;
    color: var(--text-color);
    padding: 0.5rem 0;
    width: 100%;
    cursor: pointer;
}

.remember-forgotPwd-container{
    /* border: 2px solid red; */
    height: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.remember-forgotPwd-container a{
    color: var(--secondary-color);
}
.remember-forgotPwd-container a:hover{
    text-decoration: underline;
}


.new-old-user-container{
    margin-top: 1rem;
    text-align: center;
}
.new-old-user-text{
    /* border: solid; */
    position: relative;
    margin-bottom: 1rem;
}
.new-old-user-text span{
    z-index: 20;
    background-color: var(--text-color);
    position: relative;
}
.new-old-user-text .line{
    background-color: var(--secondary-color);
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 45%;
}
.btn{
    display: inline-block;
}

/* -------------------------- Media Queries -------------------------- */
@media screen and (min-width: 540px) {
    .bar-icon{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar .nav-expand{
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
    .navbar .nav-link{
        color: var(--bg-color);
        background-color: var(--secondary-color);
        padding: 0.2rem 0.6rem;
        border-radius: 5px;
        border: 1px solid var(--secondary-color);
    }
    .navbar .nav-link:hover{
        border-color: var(--text-color);
        background-color: var(--bg-color);
        color: var(--text-color);
    }
}

@media (min-width: 700px){
    .sm-screen-user-details{
        display: none;
    }
    .lg-screen-user-details{
        /* border: 2px solid red; */
        width: 90%;
        margin: auto;
        display: flex;
        gap: 1rem;
    }
    .form-container{
        max-width: 750px;
    }
    .left, .right{
        /* border: 2px solid red; */
        width: 100%;
    }
}