@import url("/css/fonts.css");

/* ----------------------------- Variables ----------------------------- */
:root{
    /* fonts */
    --button_fonts: "livvic", cursive;
    --primary_fonts: "abel", fantasy;
    --secondary_fonts: "lexend", fantasy;
    --headline_fonts: "anton", monspace;

    /* color */
    --dark_grey: #3f4954;
    --text_light: #686666da;
    --nav_hover: #104f55;
    --btn_bg: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    --black: #0f0f0f;
    --white: #fff;
}

/* ----------------------------- CSS Reset ----------------------------- */
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------- Global Styling ----------------------------- */
body{
    font-family: var(--primary_fonts);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.brand_logo{
    font-family: var(--secondary_fonts);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--dark_grey);
    white-space: nowrap;
}
.btn{
    font-family: var(--button_fonts);
    background: var(--btn_bg);
    border: none;
    padding: 0.9em 3rem;
    border-radius: 1.7em;
    font-size: 1.1rem;
    cursor: pointer;
}

.banner-btn:hover{
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}

/* ----------------------------- Navbar ----------------------------- */

nav{
    background-color: var(--white);
    height: 5rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .bar_icon{
    font-size: 1.5rem;
    color: var(--dark_grey);
}
nav .nav_toggle{
    display: none;
    /* background-color: lightgreen; */
    position: absolute;
    top: 5rem;
    left: 0;
    padding: 1.5rem;
    width: 100%;
}
nav .nav_menu_lg, nav .social_handles_lg{
    display: none;
}
nav .nav_expand{
    display: block;
}
nav .nav_menu{
    padding-left: 3rem;
}
nav .nav_link{
    font-size: 1.2rem;
    color: var(--dark_grey);
}
nav .nav_item{
    margin-bottom: 2.5rem;
}
nav .nav_item:hover{
    background-color: var(--nav_hover);
}
nav .nav_item:hover > .nav_link{
    color: var(--white);
}
nav .social_link{
    color: var(--dark_grey);
    margin-right: 0.5rem;
    font-size: 1.2rem;
}
nav .social_link:hover{
    color: var(--text_light);
}
/* ----------------------------- Banner ----------------------------- */
.banner-container{
    height: 110vh;
    position: relative;
    padding-top: 10rem;
}
.banner-container::before{
    content: "";
    height: 110vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: url('/assets/pexels-deva-darshan.jpg') top left/1500px no-repeat;
    z-index: -1;
}
#wave{
    position: absolute;
    bottom: 0;
    left: 0;
}
.banner-container .banner-text{
    text-align: center;
    color: var(--white);
}
.banner-container .banner-title{
    font-size: 21px;
    margin-bottom: 0.5rem;
}
.banner-container .banner-headline{
    font-family: var(--secondary_fonts);
    font-size: 40px;
    margin-bottom: 2rem;
}

/* ----------------------------- Carousel ----------------------------- */
main{
    border: solid red;
    background: url('/assets/Abract01.png') no-repeat center bottom/100%;
    padding-top: 5rem;
}
.carousel .item{
    /* border: solid blue; */
    text-align: center;
    width: 95%;
    max-width: 350px;
    margin: 3rem auto;
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 0.5rem;
}
.item h3{
    font-size: 1.5rem;
    margin: 2rem 0;
}
.item p{
    margin: 2rem 0 0.5rem;
}
.arrow-icon{
    font-size: 2rem;
}

/* ----------------------------- Media Queries ----------------------------- */

@media (min-width: 750px){
    nav .bar_icon{
        display: none;
    }
    
    nav .nav_menu_lg{
        display: flex;
        padding-left: 0;
    }
    nav .social_handles_lg{
        display: flex;
    }
    nav .nav_item{
        margin-bottom: 0;
        height: 5rem;
        padding: 1.8rem 1rem 0;
    }

    main{
        border: solid red;
        background: url('/assets/Abract01.png') no-repeat top right/65%;
        padding-top: 5rem;
    }
}